body {
  height: 100vh;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #cccccc;
  color: #444444;
  border-color: #444444;
}
.darkmode {
  background-color: #444444;
  color: #cccccc;
  border-color: #cccccc;
}
h1 {
  display: block;
  position: fixed;
  height: 10%;
  width: 100%;
  font-size: 8vh;
  text-align: center;
  border-bottom: 2px solid;
  margin: 0px;
  padding-top: 2vh;
}
#output {
  position: fixed;
  height: 80vh;
  width: 60%;
  margin-top: 20vh;
  margin-left: 20%;
}