body {
  height: 100vh;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #cccccc;
  color: #444444;
  border-color: #444444;
}
.darkmode {
  background-color: #444444;
  color: #cccccc;
  border-color: #cccccc;
}
left {
  position: fixed;
  left: 10px;
  text-align: left;
}
right {
  position: fixed;
  right: 10px;
  text-align: right;
}
h1 {
  display: block;
  position: fixed;
  height: 20px;
  width: 100%;
  font-size: 18px;
  border-bottom: 2px solid;
  margin: 0px;
  padding: 5px;
}
.button {
  font-size: 36px;
  font-weight: bold;
  margin-top: 35px;
  height: 100%;
  width: 35%;
}
#output {
  position: fixed;
  width: 30%;
  margin-top: 35px;
  margin-left: 35%;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}